MinecraftCSharp/MinecraftCSharp/.vs/
MinecraftCSharp/MinecraftCSharp/Minecraft/bin/
MinecraftCSharp/MinecraftCSharp/Minecraft/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MinecraftCSharp/MinecraftCSharp/Minecraft/obj/
